BOT_TOKEN=
ADMIN_IDS=YOUR_ADMIN_ID_1,YOUR_ADMIN_ID_2
DB_PATH=./bot.sqlite3
SEPAY_BANK_NAME=MB
SEPAY_ACCOUNT_NUMBER=YOUR_ACCOUNT_NUMBER
SEPAY_ACCOUNT_NAME=YOUR_ACCOUNT_NAME
SEPAY_GROUP_ID=YOUR_GROUP_ID
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=YOUR_SESSION_NAME
SEPAY_API_TOKEN=
SEPAY_API_BASE=https://my.sepay.vn
SEPAY_API_PATH=/userapi/transactions/list
SEPAY_POLL_INTERVAL=30
SEPAY_WEBHOOK_PORT=8081
WELCOME_GIF=images/12.gif
WELCOME_GIF_ID=
MAINTENANCE_ALLOW_IDS=
